:root {
  --dark-theme-crypto: #262626;
  --black: #000;
  --primary-blue-color: #02A9F7;
  --secondary-blue-color: #89D6FB;
  --card-positive-bg-color-dark-theme: linear-gradient(#262626, #2F3A2D 40% );
  --card-negative-bg-color-dark-theme: linear-gradient(to bottom,rgba(237, 85, 85, 0.10), rgba(248, 111, 111, 0.35));
  --card-background-color: linear-gradient(to bottom, #262626, rgba(47,58,45,0.4));
  --card-border-green: #4D894F;
  --card-border-red: #BC2929;
  --positive-tendency-green: #20EC29;
  --negative-tendency-red: #FF0000;
  --header-table-exchanges: #777;
  --primary-font-color: #FFF;
  --secondary-font-color: #DEDEDE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 62.5%;
  font-family: "Open Sans", "Helvetica Neue";
  width: 100%;
  background-color: var(--dark-theme-crypto);
}

a {
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

@keyframes tendencyDown {
  from {background: var(--negative-tendency-red)};
  to {background: var(--card-background-color)};
}

@keyframes tendencyUp {
  from {background: var(--positive-tendency-green)};
  to {background: var(--card-background-color)};
}
